.carousel {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    scroll-snap-type: x mandatory;
}

.carouselCard {
    min-width: 200px;
    height: 550px;
    background: lightgray;
    border: 1px solid #ccc;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12rem;
}